# IDE and tooling
.vscode/

# Build output and runtime
dist/
run/

# Dependencies and package management
yarn.lock

# Build artifacts
*.tgz
*.map

# Source files
src/
src/**/*

# Json chemas
schema/

# TypeScript config
tsconfig.json

# Prettier config
.prettierc.json
.prettierignore

# Git
.gitignore

# Fallback ignore for TS
*.ts
